# /docker-compose.yml (Na raiz)

version: '3.8'

services:
  backend:
    build:
      context: ./backend 
    container_name: gtvision_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app 
    ports:
      - "8000:8000" 
    env_file:
      - ./.env  # <-- Passa TODAS as variáveis do .env para o container
    depends_on:
      - postgres_db 

  postgres_db:
    image: postgres:15
    container_name: gtvision_postgres
    environment:
      # Lê as variáveis do .env carregado pelo compose
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - gtvision_pg_data:/var/lib/postgresql/data

volumes:
  gtvision_pg_data: