version: '3.8'

services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: sandbox_mediamtx
    ports:
      - "8554:8554"
      - "8889:8889"
      - "8888:8888"
    volumes:
      # Aponta para o mediamtx.yml que está NESTA pasta (ai_detection)
      - ./mediamtx.yml:/mediamtx.yml 
    networks:
      - sandbox_net

  ai_sandbox:
    build: .
    container_name: sandbox_ai
    depends_on:
      - mediamtx
    volumes:
      - .:/app                       # Mapeia código atual
      - ./detections:/app/detections_sandbox # Mapeia as imagens salvas
    environment:
      - MEDIAMTX_URL=rtsp://mediamtx:8554/cam
    networks:
      - sandbox_net

networks:
  sandbox_net:
    driver: bridge