# Torch já foi instalado no Dockerfile, não listar aqui para evitar conflito/download duplo
# torch 
# torchvision
# ultralytics

# Libs Leves
opencv-python-headless
numpy
requests
python-dotenv
loguru

# API
fastapi
uvicorn

# OCR
onnxruntime
rich
pyyaml
scipy

# IMPORTANTE: Reinstalar ultralytics aqui é seguro pois ele detecta o torch existente
ultralytics