# Core - versões mínimas
opencv-python-headless==4.8.0.74
numpy==1.24.3
python-dotenv==1.0.0

# Comunicação
requests==2.31.0
pika==1.3.2

# IA - CPU only
ultralytics==8.0.196

# OCR - direto do GitHub
git+https://github.com/ankandrew/fast-plate-ocr.git