services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./src/infrastructure/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - mediamtx
    networks:
      - vms_network

  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: mediamtx
    ports:
      - "8554:8554"
      - "8888:8888"
      - "9997:9997"
    volumes:
      - ./src/infrastructure/servers/mediamtx.yml:/mediamtx.yml:ro
      - ./recordings:/recordings
    networks:
      - vms_network

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: vms_db
      POSTGRES_USER: vms_user
      POSTGRES_PASSWORD: vms_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/infrastructure/database/init.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - vms_network

  django:
    build:
      context: ./src
      dockerfile: docker/admin/Dockerfile
    container_name: django
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./src:/app
    ports:
      - "8000:8000"
    env_file:
      - ./src/.env
    depends_on:
      - postgres
      - redis
    networks:
      - vms_network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - vms_network

  fastapi:
    build:
      context: ./src
      dockerfile: docker/streaming/Dockerfile
    container_name: fastapi
    command: uvicorn shared.streaming.stream.api:app --host 0.0.0.0 --port 8001 --reload
    volumes:
      - ./src:/app
    ports:
      - "8001:8001"
    depends_on:
      - redis
      - mediamtx
    networks:
      - vms_network

networks:
  vms_network:
    driver: bridge

volumes:
  postgres_data:
