__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
.git
.gitignore
README.md
readme/
.vscode
.idea
*.log
intermediate_detection_files/
results/
client/target
