# General
**/__pycache__/
**/intermediate_detection_files/

# AI Training (keep models)
ai/training_data/
ai/training_data_preprocessed/
ai/runs
ai/*.pt
ai/cropped_box_for_tesseract_*.jpg

# Server
server/*.pt
server/.env
db/data/
db/log/
db/secrets/
server/results/

# Client
client/target/
client/Cargo.lock